* {
    margin: 0;
    padding: 0;
}
body {
    font-family: sans-serif;
    color: #5d5d5d;
}

/*img {*/
    /*width: 100%;*/
    /*height: auto;*/
/*}*/

.wrapper {
    margin: 0 auto;
    max-width: 1024px;
}
header {
    border-bottom: 2px solid gray;
}
.headerBlock {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 15px;
}

.logo {
    width: 230px;
}

.headerMenu__item {
    display: inline-block;
    list-style: none;
    padding: 12px 24px;
}

.headerMenu__item:hover {
    cursor: pointer;
    background: #373737;
}

.headerMenu__item:hover a {
    color: white;
}
li.headerMenu__item-active a {
    background: #373737;
    color: white;
}
.headerMenu__item a {
    color: #373737;
    text-decoration: none;
}

.mainBunner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 15px;
}
.mainBunner__title {
    font-size: 60px;
    font-weight: normal;
}
.mainBunner__subTitle {
    font-size: 47px;
    margin-bottom: 30px;
}
.mainBunner__userAction {
    align-items: center;
    background: #373737;
    color: white;
    display: flex;
    font-size: 23px;
    justify-content: flex-start;
    max-width: 205px;
    padding: 12px;
}
.mainBunner__userAction:hover {
    cursor: pointer;
    background: #4c4c4c;
}
.userAction__icon {
    width: 33px;
    margin-right: 12px;
}

.mainBunnerImgContent {
    width: 700px;
}
/*end of main bunner block*/

/*main content block*/

main {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

}
.articlesBlock {
    width: 65%;
    /*background: lightgrey;*/
    padding-right: 25px;
       }
.mainArticle {
    display: flex;
    }
.gradientBlock {
    position: relative;
    width: 320px;
    height: 240px;
    top: 5px;
    left: 8px;
    margin: 0 auto;
    padding: 0;
}
.pad {
    position: absolute;
    left: 45px;
    bottom: 50px;
}

.pad1 {
    position: absolute;
    right: 40px;
    bottom: 45px;
}
/*.mainArticle__img {*/
    /*width: 310px;*/
    /*min-width: 310px;*/
    /*margin-right: 25px;*/

/*}*/
.mainArticleManager img{
    width: auto;
}
.mainArticleManager {
    display: flex;
    margin-left: auto;
 }
.mainArticleContent {
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.mainArticleContent p {
    padding-left: 7px;
}
.mainArticleManager__arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 40px;


}
.article_column {
    align-items: center;
}
.mainArticleManager__arrow-left {
    background: #7c7c7c;
    order: 1;

}
.mainArticleManager__arrow-right {
    background: #989898;
    order: 2;
}
.article {
    width: 33.3%;
    padding: 10px;
    box-sizing: border-box;
    }
.articles {
    display: flex;
    flex-wrap: wrap;
    }
.article_date {
    padding: 5px 0 5px 0;
}
.article_column {
    text-align: justify;
}
.sidebar {
    /*height: 200px;*/
    width: 30%;
    /*margin: 10px;*/
    /*background: grey;*/
}
.sideBarBlock1 {
    width: 320px;
    height: 240px;
    background-color: white;
    border: 1px solid #a1a1a1;
    position: relative;
    margin: 0;
    padding: 0;
}

.sideBarBlock1__text h4 {
    color: #9ba08d;
    display: flex;
    justify-content: center;
    margin: 10px 0 5px 0;

}
.sideBarBlock1__text h2 {
    color: #b8dc58;
    display: flex;
    justify-content: center;
    margin: 0;
}
.pad3 {
    position: absolute;
    left: 40px;
    bottom: 16px;
}
.pad2 {
    position: absolute;
    left: 120px;
    bottom: 13px;
    z-index: 1;
}
.css_logo {
    position: absolute;
    right: 50px;
    bottom: 15px;
}
.sideBarBlock2 {
    width: 320px;
    height: 240px;
    background-color: #86e7f0;
    position: relative;
    margin-top: 30px;

}
.sideBarBlock2_circleNumber {
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    background: #c95784;
    border: 5px solid white;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}

.sideBarBlock2_circleNumber p:first-child {
    font-size: 70px;
    color: white;
}

.sideBarBlock2_circleNumber p {
    font-size: 30px;
    color: white;
    margin: 0;
    padding: 0;
}
.sideBarBlock2__text {
    color: white;
    align-items: center;
    padding-top: 135px;
    text-align: center;
    /*display: flex;*/
}
.sideBarBlock2__text1 {
    font-size: 28px;
    margin-bottom: 10px;
}

.sideBarBlock2__text2 {
    font-size: 16px;
    margin-bottom: 10px;
}
.sideBarBlock2__button__text {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: center;
}
.button {
    display: inline-block;
    background: #58d1dc;
    border-radius: 10px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 15px;
}
.sidebarBlock3 {
    width: 320px;
    background-color: #393a39;
    margin-top: 20px;
    position: relative;
}

.sidebarBlock3Text {
    color: white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.sidebarBlock3Text h4 {
    margin: 15px 0 15px 0;
    text-transform: uppercase;

}

.sidebarBlock3Text p {
    flex-wrap: wrap;
    margin: 0 30px 10px 30px;

}

.sidebarBlock3Text__form1 {
    display: flex;
    flex-wrap: wrap;
    width: 258px;
    height: 30px;
    background-color: white;
    color: #a3a3a3;
    /*text-align: left;*/
    margin-left: 30px;
    margin-right: 30px;
}

.sidebarBlock3Text__form1 form {
    padding-left: 10px;
    padding-top: 5px;
}

.sidebarBlock3Text__form2 {
    display: flex;
    flex-wrap: wrap;
    width: 258px;
    height: 30px;
    background-color: white;
    color: #a3a3a3;
    /*text-align: left;*/
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 30px;
}

.sidebarBlock3Text__form2 form {
    padding-left: 10px;
    padding-top: 5px;
}

.sidebarBlock3 .button {
    background-color: #bb4465;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    padding: 5px 30px;
    margin-top: 10px;

}

.sidebarBlock3__line {
    margin-top: 17px;
    width: 320px;
    height: 7px;
    background-color: #bb4465;
}
.sidebarImage img {
    width: 100%;
    display: block;
    margin-bottom: 10px;
}
.footer {
    /*height: 50px;*/
    padding: 10px;
    background-color: #373737;
    margin: 0 -10px 0 10px;
    display: flex;
    justify-content: space-between;

}
.footerText {
    color: white;
    align-self: center;
    text-align: center;
    padding: 20px;

}
.footerIcons {
    height: 20px;
    /*float: right;*/
}
.social {
    list-style: none;
    /*margin: none;*/
    /*padding: none;*/
    display: flex;

}
.social li {
    margin-left: 5px;
    margin-top: 20px;
}