.gradientBlock {
    position: relative;
    max-width: 100%;
    height: 500px;
    background-color: grey;
    display: flex;
}
.pad {
    position: absolute;
    max-width: 100%;
    height: auto;
     left: 5%;
    bottom: 30%;

}
.pad1 {
    position: absolute;
    max-width: 100%;
    height: auto;
    right: 60%;
    bottom: 25%;
}